*{
    margin: 0;
    padding:0;
}

.header{
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
}

h1{margin-top: 20px; margin-bottom: 20px;}
h2{margin-top: 20px; margin-bottom: 40px;}
h3{margin-top: 20px; margin-bottom: 20px; font-weight: bolder;}
p{margin-top: 20px; margin-bottom: 20px;}

#line{margin: 50px 100px;}

.Inquiry{
    padding: 50px 270px;
    margin-top: -10px;
}
.Inquiry hr{
    width: 1135px;
}
.inquiry_h{
    text-align: left;
    width: 900px;
}
.text_box{
    padding: 0px 0.5px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 110px;
}
ul li p{
    margin-top: 6px;
}
#title{
    padding-left: 10px;
    padding-right: 100px;
}
li{
    padding: 0px 5px;
}
li img{
    margin-top: 3px;
    margin-right: -3px;
}
input{
    margin-top: 0px;
    text-align: left;
}
select{
    margin-top: 0px;
}

.inquiry_list{
    margin-top: -35px;
    margin-bottom: -45px;
    width: 1340px;
}


#inquiry_bt{
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 1000px;
    margin-top: 80px;
    border: none;
    background-color: #FFF;
    color:#4D606B;
    
}

footer {                         
    background-color: #E3E3E3;
    color: #515151;
    height: 15vh;
    line-height: 8px;

}
footer #footer_img{
    text-align: right;
    padding-right: 70px;
    margin-bottom: -70px;
    padding-top: 20px;
}
footer #footer_img img{
    margin: 0px 10px;
}
address{
    text-align: left;
    padding-left: 750px;
    padding-top: 30px;
}
address p{
    font-size: 18px;
    line-height: 10px;
  }