*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 765px) and (min-width: 300px) {
    .table-container{
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    table{
        width:100%;
    }
}
.header{
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
}

#logo_img{
    padding: 10px 650px;
}
#inquiry_img{
    margin-left: 1600px;
    margin-top: -40px;
}

#Main_image{
    margin-top: 70px;
    padding: 0px 288px;
    position: relative;
}
.image_m_1{
    position:absolute;
    margin-top: -400px;
    margin-left: 530px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m_2{
    position:absolute;
    margin-top: -470px;
    margin-left: 630px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m_3{
    position:absolute;
    margin-top: -500px;
    margin-left: 930px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.image_m1_1{
    position:absolute;
    margin-top: -250px;
    margin-left: 1380px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m1_2{
    position:absolute;
    margin-top: -350px;
    margin-left: 1030px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m1_3{
    position:absolute;
    margin-top: -550px;
    margin-left: 1250px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m1_4{
    position:absolute;
    margin-top: -480px;
    margin-left: 600px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m1_5{
    position:absolute;
    margin-top: -540px;
    margin-left: 750px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m1_6{
    position:absolute;
    margin-top: -420px;
    margin-left: 450px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m2_1{
    position:absolute;
    margin-top: -300px;
    margin-left: 860px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m2_2{
    position:absolute;
    margin-top: -400px;
    margin-left: 960px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m2_3{
    position:absolute;
    margin-top: -500px;
    margin-left: 1060px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m3_1{
    position:absolute;
    top: 55%;
    right: 53%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m3_2{
    position:absolute;
    top: 45%;
    right: 48%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m3_3{
    position:absolute;
    top: 35%;
    right: 43%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m4_1{
    position:absolute;
    margin-top: -450px;
    margin-left: 600px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m4_2{
    position:absolute;
    margin-top: -510px;
    margin-left: 750px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m4_3{
    position:absolute;
    margin-top: -390px;
    margin-left: 450px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m5_1{
    position:absolute;
    margin-top: -420px;
    margin-left: 600px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m5_2{
    position:absolute;
    margin-top: -480px;
    margin-left: 750px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.image_m5_3{
    position:absolute;
    margin-top: -360px;
    margin-left: 450px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.x_bt{
    width: 1800px;
}
.image_x{
    position: absolute;
    margin-top: -50px;
    margin-left: -580px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color:black;
    background-color: transparent;
    transform: translate( -50%, -50% );
}
.over_view p{
    text-align: left;
    margin-left: 300px;
}
#main_text{
    width: 1575px;
}

#x{
    margin-top: 0px;
    margin-left: 1220px;
    margin-right: 0px;
    font-size: 25px;
}
#ov_text {
    margin-top: -580px;
    margin-left: 800px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 1810px;
    padding: 0px 33px;
    
}
.menu ul li{
    float: left;
    list-style-type: none;
}
#menu_bt button{
    margin: 50px 30px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    border: 1px solid ;
}
button{
    border: none;
    background-color: #FFF;
    color:#4D606B;
}

footer {                         
    background-color: #E3E3E3;
    height: 15vh;
    line-height: 8px;
    width: 1879px;
}
address{
    text-align: left;
    width: 1125px;
    padding-top: 30px;
}
address p{
    font-size: 18px;
    line-height: 5px;
  }